<% provide(:page_header,"Coodination Prediction")%>
<div class='col-lg-12'>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			Prediction <%= @lat%>,<%= @long%> the next <%= @period%><br/>
			Distance to the cloest station <%=@station.name%> : <%=@distances%> miles <br/>
		</div>
		<div class='panel-body'>
			<%= render :partial=>'prediction_weather_table', :locals => {:columns => @columns, :return_prediction=>@return_prediction}%>
		</div>
	</div>
</div>


