<!DOCTYPE html>
<html>
	<head>
		<title>WeatherPrediction</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
<body onload="startTime()">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header"><%= yield :page_header %></h3>
			</div>
		</div>
		<%= yield %>
			
<script>
function startTime() {
    var today=new Date();
    var day =today.getDay();
    var date =today.getDate();
    var month = today.getMonth() +1;
    var year = today.getFullYear();
    var h=today.getHours();
    var m=today.getMinutes();
    var s=today.getSeconds();
    var weekdays = new Array(7);
    
weekdays[0] = "Sunday";
weekdays[1] = "Monday";
weekdays[2] = "Tuesday";
weekdays[3] = "Wednesday";
weekdays[4] = "Thursday";
weekdays[5] = "Friday";
weekdays[6] = "Saturday";
    
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =weekdays[day] + "\n" + date +"/"+ month + "/"+ year + "\n" + h+":"+m+":"+s;
    var t = setTimeout(function(){startTime()},500);
}

function checkTime(i) {
    if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>
<div id="txt"></div>
	</body>
</html>
